@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* --background: 0, 0%, 99%; */
        --background: 240 29% 92%;
        --foreground: 177, 36%, 23%;

        --primary: 8, 100%, 62%;
        --primary-foreground: 240 29% 92%;

        --secondary: 177, 21%, 21%;
        --secondary-foreground: 240 29% 92%;

        --border: 0, 0%, 77%;
        --input: 177, 5%, 24%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --primary: 8, 100%, 62%;
        --primary-foreground: 240 29% 92%;

        --secondary: 177, 21%, 21%;
        --secondary-foreground: 240 29% 92%;

        --border: 0, 0%, 77%;
        --input: 177, 5%, 24%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    /* html,
    body {
        scrollbar-gutter: stable;
    } */

    html,
    body {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .no-select {
        user-select: none;
    }

    .img-no-select {
        pointer-events: none;
    }
}
